body{
    background-color: white;
}
#titulo{
    text-align: center;
}
#vision{
    width: 40%;
    text-align: center;
    margin: auto;
}
#mision{
    width: 50%;
    text-align: center;
    margin: auto;
}
#cosas{
    background-color: red;
}
img{
    display: inline;

}
#uno{
    text-align: center;
    margin: auto;
    width: 50%;
    display: block;
    border-style: solid;
    border-radius: 8px;

}
#mision,#vision{
    border-style: double;
}
#redes{
    width: 60%;
    margin: auto;

}
#formulario{
    width: 40%;
    margin: auto;
    border-radius: 8px;
    border-style: groove;
}
label{
    display:block;
}
button{
    display: block;
}
#menu{
    width: 30%;
    background-color: rgb(183, 128, 235);
    border-style: double;
    margin: auto;
    text-align: center;
}
#video{
    text-align: center;
}
#comidas{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: blueviolet;
}
#btn{
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  display: inline-flex;
  background-color: #007bff;

}
#dib{
    width: 40%;
    margin: auto;
}

#btn:hover {
    background: #0b7dda;
}